@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

body {
    font-family: 'Oswald', sans-serif;
}

header {
    height: 100vh;
    width: 100%;
    background: url("../img/index-background-desktop.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;
}

#header_photo {
    position: absolute;
    left: 37%;
    top: 20%;
}

#nav {
    display: flex;
    align-items: center;
    padding-top: 71px;
    max-width: 1220px;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
}

#nav ul {
    display: flex;
    gap: 35.5px;
    list-style: none;
}

#nav ul li {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
}

#nav ul li::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #FFF;
    transition: all .3s ease;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -5px;

}

#nav ul li:hover::after {
    width: 100%;
}

header .container h1 {
    color: #000;
    font-family: Oswald;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    max-width: 424px;
    text-wrap: balance;
}

header .container p {
    color: #000;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 40px;
}

header .container button {
    color: white;
    background-color: #68B738;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding: 14px 26px;
    text-transform: uppercase;
    border: 0;
    outline: 0;
    margin-top: 52px;
}

header .container {
    margin-left: 140px;
    margin-top: 65px;
}

.features .cards .card {
    display: flex;
    flex-direction: column;
    width: 570px;
    height: 374px;
    background-color: #F2F2F2;
    padding: 41px 51px 59px 52px;
}

.features .cards .card .title {
    display: flex;
    align-items: center;
    gap: 62px;
}

.features .cards .title b {
    color: #000;
    font-family: Oswald;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
}

.features .cards p {
    color: #000;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 39px;
}

.features .cards a {
    color: #000;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 27px;
}

.features .cards {
    display: flex;
    gap: 80px;
    justify-content: center;
}

main {
    margin-top: 82px;
}

.work {
    padding-left: 105px;
    padding-right: 105px;
    margin-top: 71px;
}

.work h2 {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
}

.work-list {
    list-style: none;
    display: flex;
    margin-top: 72px;
    justify-content: space-between;
}

.work-list li {
    position: relative;
}

.work-list li p {
    color: #444;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 31px;
    max-width: 201px;
    position: relative;
    z-index: 2;
}

.work-list li b {
    color: #F2F2F2;
    font-size: 280px;
    font-style: normal;
    font-weight: 400;
    line-height: 280px;
    position: absolute;
    top: -30px;
    right: -33px;
}

.primer {
    margin-top: 120px;

}

.primer h2 {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    margin-left: 110px;
}

.primer .block {
    background: #F2F2F2;
    padding: 70px 110px;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.left-block,
.right-block {
    height: 312px;
}

.left-block__text {
    color: #444;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    max-width: 436px;
}

.left-block__features {
    display: flex;
    gap: 42px;
    margin-top: 69px;
}

.left-block__features div {
    border: 1px solid #CDCDCD;
    width: 162px;
    height: 72px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-block__features div b {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
}

.left-block__features div span {
    color: #444;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    background-color: #F2F2F2;

    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -7px;
    text-align: center;

}

.left-block__features div:first-child span {
    width: 105px;
}

.left-block__features div:last-child span {
    width: 135px;
}

.left-block__price {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 55px;
}

.left-block__price span {
    margin-left: 63px;
}

.right-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.right-block__inner span {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border-bottom: 1px dashed #CDCDCD;
}

.right-block__images img:first-child {
    max-width: 300px;
}

.right-block__images img:last-child {
    max-width: 260px;
}

.right-block__images {
    display: flex;
}

.right-block__inner input {
    width: 100%;
}

.right-block__inner {
    display: flex;
    gap: 24px;
    margin-top: 20px;
}

.map{
    height: 400px;
    background-image: url(../img/map.png);
    background-size: cover;
}