@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

body {
    font-family: 'Oswald', sans-serif;
}

header {
    height: 100vh;
    width: 100%;
    background: url("../img/index-background-desktop.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;
}

#header_photo {
    position: absolute;
    left: 37%;
    top: 20%;
}

#nav {
    display: flex;
    align-items: center;
    padding-top: 71px;
    max-width: 1220px;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
}

#nav ul {
    display: flex;
    gap: 35.5px;
    list-style: none;
}

#nav ul li {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
}

#nav ul li::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #FFF;
    transition: all .3s ease;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -5px;

}

#nav ul li:hover::after {
    width: 100%;
}

header .container h1 {
    color: #000;
    font-family: Oswald;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    max-width: 424px;
    text-wrap: balance;
}

header .container p {
    color: #000;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 40px;
}

header .container button {
    color: white;
    background-color: #68B738;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    padding: 14px 26px;
    text-transform: uppercase;
    border: 0;
    outline: 0;
    margin-top: 52px;
}

header .container {
    margin-left: 140px;
    margin-top: 65px;
}

main section .cards .card {
    display: flex;
    flex-direction: column;
    width: 570px;
    height: 374px;
    background-color: #F2F2F2;
    padding: 41px 51px 59px 52px;
}

main section .cards .card .title {
    display: flex;
    align-items: center;
    gap: 62px;
}

main section .cards .title b {
    color: #000;
    font-family: Oswald;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
}

main section .cards p {
    color: #000;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 39px;
}

main section .cards a {
    color: #000;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 27px;
}

main section .cards {
    display: flex;
    gap: 80px;
    justify-content: center;
}

main {
    margin-top: 82px;
}

#how_job .items {
    display: flex;
    justify-content: space-evenly;
}

#how_job .items .item {
    width: 20%;
    position: relative;
}

#how_job .items .item b {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 280px;
}